* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
}

body {
    background-color: #f0f0f0;
    overflow-x: hidden;
}

.container {
    margin: 45px 120px 0 120px;
}

.header__spot {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.header__container {
    display: flex;
    justify-content: space-between;
    margin: 45px 120px 0 120px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo__icon {
    margin-right: 12px;
}

.header__logo__name {
    color: var(--mrt-app-headline, #1B1C57);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.header__navbar {
    display: flex;
}

.header__navbar__list {
    display: flex;
    gap: 24px;
}

.header__navbar__item {
    display: flex;
    align-items: center;
    list-style-type: none;
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.10);
    color: var(--neutral-100, #F0F3FD);
    font-family: Lexend;
    max-height: 34px;
    font-size: 14px;
    font-style: normal;
    line-height: 0;
    font-weight: 600;
    text-transform: capitalize;
    padding: 8px 16px;
}

.header__navbar__signup-btn {
    border-radius: 32px;
    background: var(--green-100, #D1FAE5);
    color: var(--green-700, #047857);
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    padding: 12px 24px;
    text-decoration: none;
    text-transform: capitalize;
    margin-left: 56px;
}

.header__navbar__arrow {
    margin-left: 10px;
}

.header__img-wrap {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    /* max-height: 100vh; */
}

.header__lines {
    width: 425px;
    height: 310px;
    position: absolute;
    top: 125px;
    right: 190px;
}

.header__bg-image {
    border-radius: 0px 0px 0px 80px;
    max-height: 100vh;
    width: 720px;
    height: 100vh;
}

.dreams {
    margin-top: 101px;
}

.dreams__header {
    width: 496px;
    color: var(--mrt-app-headline, #1B1C57);
    font-family: Lexend;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
}

.dreams__header__transparent {
    font-family: sans-serif; 
    text-shadow: none;
    color: transparent;
    -webkit-text-stroke: 1px #1B1C57;
}

.dreams__subheader-text {
    margin-top: 24px;
    color: var(--mrt-app-neutral-01, #626687);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.75;
}

.dreams__search-container {
    margin-top: 32px;
}

.dreams__search-bar {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 24px;
    padding-right: 4px;
    height: 56px;
    width: 486px;
    border-radius: 32px;
    border: 1px solid var(--neutral-300, #E0E3EB);
    background: #FFF;
}

.dreams__search-icon {
    width: 24px;
    height: 24px;
}

#dreams__search-input {
    height: 50px;
    flex-grow: 1;
    border: none;
}

#dreams__search-input:focus {
    outline: none;
}

.dreams__search-button {
    border-radius: 32px;
    background: var(--green-500, #10B981);
    border: none;
    color: #FFF;
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    height: 48px;
    width: 109px;
    cursor: pointer;
}

.dreams__partnership {
    margin-top: 32px;
}

.dreams__partnership-text {
    color: var(--neutral-500, #888B97);
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-transform: capitalize;
        /* 200% */
}

.dreams__partnership__list {
    display: flex;
    align-items: center;
    gap: 32px;  
    list-style-type: none;
}

.dreams__partnership__item {
    height: 64px;
}

.header__cards-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 -200px 48px 48px;
}

.header__card {
    display: flex;
    align-items: center;
    border-radius: 32px;
    background: #fff;
    max-height: 104px;
    padding: 24px;
}

.header__card__icon {
    width: 56px;
    height: 56px;
}

.header__card__info {
    margin-left: 16px;
}

.header__card__bold-text {
    color: var(--mrt-app-headline, #1B1C57);
    font-family: Lexend;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.header__card__text {
    color: var(--mrt-app-subheadline, #68799F);
    font-family: Lexend;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.header__card__icon-face {
    position: relative;
    margin-right: -28px;
    border-radius: 56px;
    border: 3px solid #FFF;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.10);
}

.face-last {
    margin: 0;
}

.header__card__house {
    border-radius: 24px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}